.China{
    width: 40%;
    display: inline-block;
    border-radius: 30px;
}

.One-content_txt p,h1{
    font-family: sans-serif;
}
.One-content_txt h1{
    font-size: 45px;
    font-weight: bold;
    color:#0256D5;
    text-align: center;
}
.One-content_txt{
    text-align: justify;
    display: inline-block;
    margin-left: 4%;
    width: 50%;
}
.Company-content{
    padding: 0% 3% 0% 3%;
}
.none-pc{
    display: none;
}
.One-content{
    margin-top: 3%;
    margin-bottom: 4%;
}
.One-content_txt,.Two-content_txt p{
    font-size: 20px;
}
.Two-content_txt p{
    text-align: center;
}
.Two-content_txt{
    padding: 4% 5% 0% 5%;
}
.Two-content{
    border-radius: 30px;
    box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 20%);
    margin-bottom: 3%;
    background-color: white;
}
.New-map{
    border-radius: 0px 0px 30px 30px;
}
.Two-content_txt h1{
    font-size: 45px;
    font-weight: bold;
    color:#DBB23E;
    text-align: center;
    margin-bottom: 2% ;
}
.fohow1,.fohow2{
    display: inline-block;
    width: 32%;
}
.Tree-content_txt{
    display: inline-block;
    width: 30%;
}
.Tree-content{
    margin-top: 6%;
    border-radius: 30px;
    box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 20%);
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 0.5%;
}
.Tree-content_txt,.txt1 p {
    font-size: 20px;
    font-family: sans-serif;
}
.Tree-content_txt {
    margin-left: 2%;
    margin-right: 1.5%;
}

.txt1 {
    margin-top: 2%;
    text-align: center;
    margin-bottom: 3%;
}
.txt2 p{
    color:#DBB23E;
    text-align: center;
    font-size: 26px;
    font-family: sans-serif;
    margin-bottom: 2%;
    font-weight: bold;
}
.bowl{
    height: 500px;
    border-radius: 30px;
    text-align: center;
    margin-top: 5%;
    box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 20%);    
}
.txt1 h1{
    color: #DBB23E;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 1%;
}
.Forth-content{
    margin-top: 4%;
    padding: 1% 3% 2% 1.5%;
    box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 20%);
    border-radius: 30px;
}
.Forth-content_txt p{
    font-size: 25px;
}

.Forth-content_txt{
    padding-left: 3%  ;
    width: 20%;
}
.Forth-content_txt{
    padding-top: 12%;
    display: inline-block;
}
.Forth-content h1{
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    margin-top: 3%;
    color:#0256D5;
}
.laba{
    margin-top: 3%;
    border-radius: 30px;
    margin-left: 7%;
    display: inline-block;
    width: 66%;
    box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 20%);

}
.Forth-content_txt2{
    margin-top: 2%;
    padding: 3% ;
    
}
.Forth-content_txt2 p{
    font-size: 20px;
    text-align:center;
}
.Five-content{
    margin-top: 2%;
    border-radius: 30px;
    box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 20%);
    padding: 5% 2% 3% 2%;
}
.Five-txt,.sport-txt p{
    font-size: 20px;
    text-align: justify;
}

.Five-txt{
    padding: 3% 3.5% 0% 3%;
}
.factory{
    margin:3% 0% 3% 9% ;
    width: 76%;
    border-radius: 30px;
    box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 20%);
}
.Five-content h1{
    font-size: 35px;
    text-align: center;
    color: #DBB23E;
    font-weight: bolder;
}
.sport{
    margin-top: 3%;
}
.girl{
    width: 35%;
    display: inline-block;
    border-radius: 30px;
    margin-left: 5%;
    box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 20%);

}
.sport-txt{
    display: inline-block;
    width: 50%;
    padding-top: 5%;
    margin-left: 6%;
}
.sport h1{
    color: #0256D5;
    margin-bottom: 2%;
    font-size: 40px;
}
.owner{
    padding-top: 2%;
    margin-top: 2%;
    border-radius: 30px;
    box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 20%);
}
.owner-txt{
    padding: 5% 5% 5% 5%;
}
.owner-txt p{
    font-size: 20px;
    font-family: sans-serif;
    text-align: justify;
}
.owner h1{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: #DBB23E;
}
.owner_img{
    width: 74%;
    border-radius: 30px;
    box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 20%);
    margin-left: 10%;
} 
@media screen and (max-width: 1403px){
    .Company-content{
        padding: 0px;
    }
    
}
@media screen and (max-width: 1304px){
    .Tree-content_txt p,.One-content_txt p,.Two-content_txt p,.txt1 p,.Forth-content_txt2 p,.Five-txt p,.sport-txt p,.owner-txt p{
        font-size: 18.5px;
    }
    .Forth-content_txt p{
        font-size: 22px;
    }
}
@media screen and (max-width: 1221px){
    .Tree-content_txt p,.One-content_txt p,.Two-content_txt p,.txt1 p,.Forth-content_txt2 p,.Five-txt p,.sport-txt p,.owner-txt p{
        font-size: 17.5px;
    }
}               
@media screen and (max-width: 1142px){
    
    .Tree-content_txt p,.One-content_txt p,.Two-content_txt p,.txt1 p,.Forth-content_txt2 p,.Five-txt p,.sport-txt p,.owner-txt p{
        font-size: 16.5px;
    }
    .China{
        margin-top: 3%;

    }
}
@media screen and (max-width: 1022px){
    .Tree-content_txt p{
        font-size: 14px;
    }
    .China{
        margin-top: 6%;

    }
    .Forth-content_txt p{
        font-size: 16px;
    }
    .Forth-content_txt{
        padding-top: 7%;
    }
    .Tree-content_txt p,.One-content_txt p,.Two-content_txt p,.txt1 p,.Forth-content_txt2 p,.Five-txt p,.sport-txt p,.owner-txt p{
        font-size: 15px;
    }
    .Company-content{
        min-width: 721px;
    }
}

@media screen and (max-width: 897px){
    .fohow2{
        display: none;
    }
    .Tree-content_txt p {
        font-size: 16px;
    }
    .Tree-content_txt{
        margin-top: 1%;
        width: 55%;
        text-align: justify;
    }
    .China{
        margin-top: 10%;

    }
}
@media screen and (max-width: 768px){
    .One-content_txt h1,.Two-content_txt h1,.owner h1{
        font-size: 35px;
    }
    .Five-content h1,.sport h1,.Forth-content h1{
        font-size: 28px;
    }
    .Tree-content_txt p,.One-content_txt p,.Two-content_txt p,.txt1 p,.Forth-content_txt2 p,.Five-txt p,.sport-txt p,.owner-txt p{
        font-size: 18px;
    }
    .txt2 p{
        font-size: 20px;
    }
    .txt1 h1{
        font-size: 25px;
    }
    .Tree-content_txt p{
        font-size: 15px;
    }
}
@media screen and (max-width: 491px){
    .Company-content{
        min-width: 480px;
    }
    .One-content_txt{
        margin-left: 0px;
        width: 100%;
        display: grid;
    }
    .One-content_txt h1{
        display: none;
    }
    .none-pc{
        display: block;
        text-align: center;
        font-size: 35px;
        font-weight: bold;
        color: #0256D5;
    }
    .China{
        width: 100%;
    }
    .Tree-content_txt p,.One-content_txt p,.Two-content_txt p,.txt1 p,.Forth-content_txt2 p,.Five-txt p,.sport-txt p,.owner-txt p{
        font-size: 18px;
    }
    .fohow1{
        width: 100%;
        display: grid;
    }
    .Tree-content_txt{
        display: grid;
        width: 100%;
    }
    .Forth-content_txt{
        width: 100%;
        text-align: center;
    }
    .Forth-content_txt p{
        font-size: 20px;
    }
    .laba{
        width: 100%;
        display: grid;
        margin-left: 0;
    }
    .girl{
        width: 100%;
        display: grid;
        margin-left: 0;
    }
    .sport-txt{
        width: 100%;
        margin-left: 0;
    }
    .owner_img{
        margin-left: 4%;
        width: 90%;
    }
}
@media screen and (max-width: 491px){
    .Company-content{
        min-width: 320px;
    }
    .Tree-content_txt p,.One-content_txt p,.Two-content_txt p,.txt1 p,.Forth-content_txt2 p,.Five-txt p,.sport-txt p,.owner-txt p{
        font-size: 17px;
    }
}